#diva-wrapper {
    .diva {
        &-wrapper {
            min-height: calc(100vh - 175px);
            margin-top: 1em
        }
    }
}

.diva-title,
.diva-page-label.diva-label {
    display: none !important;
}