@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', Arial, Helvetica, sans-serif;
}

ul {
    padding: .5em 2em
}

h1,h2,h3,h4 {
    padding: .5em 0 .2em 0;
}

p {
    padding: .2em 0;
}