@import 'src/app/components/template/Palette.scss';

.primaryButton {

    &-root {
        border: none;
        padding: 1em 2em;
        background: $action-button-background;
        cursor: pointer;
        color: $white;
        text-transform: uppercase;
        border-radius: .25rem;
        outline: none;

        &:hover,
        &:active {
            background: $active-action-button-background;
        }

        &:disabled {
            background: $light-gray-a;
            cursor: not-allowed;
        }

    }   

    &-small {
        padding: .5em 1.1em;
        font-size: .8rem;
    }

}